{{> page/nav}}
<header class="box-header">
    <div class="container">
        <div class="box-info">
            <h1>Sobre nosotros</h1>
            <p>
                Nosotros somos Black and White Spa, una empresa apasionada por el cuidado personal y la creatividad.
                Estamos
                emocionados de presentar nuestra campaña en las redes sociales, donde ofrecemos un sitio web único que
                te
                permite transformar tus imágenes en blanco y negro. Simplemente escribe la URL de la imagen y nuestro
                servidor la procesará, devolviéndote una versión en blanco y negro lista para compartir. Descubre la
                belleza
                de la simplicidad visual con nosotros en Black and White Spa.</p>
        </div>
    </div>
</header>