<div class="box-principal">
    <div class="box-form">
        <form id="formulario">
            <label for="imagen">Imagen URL:</label>
            <input type="text" name="url" id="url" placeholder="http://i.pinimg.com/origin">
            <p class="error"></p>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="box-img">
        <h2></h2>
        <p></p>
    </div>
</div>