<nav>
    <div class="container">
        <divc class="content-nav">
            <div class="box-logo">
                <a href="http://localhost:3000/nosotros">
                    <img src="https://images.squarespace-cdn.com/content/v1/60807dd06ef2ab0bfb72765e/24ef2650-57b6-4a25-86b1-2f36a03f6122/BlueWolf-Logo-21-JS+v1.-03.png"
                        alt="logo wolf">
                </a>
            </div>
            <div class="box-title-nav">
                <h2>Black and White Spa</h2>
            </div>
            <div>
                <ul class="nav-list">
                    <li><a href="http://localhost:3000">Inicio</a></li>
                    <li><a href="http://localhost:3000/galeria">Preview</a></li>
                </ul>
            </div>
        </divc>
    </div>
</nav>