<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='/css/index.css' />
		<title>Sprint Módulo 6</title>
	</head>
	<body>
		{{{body}}}

		<script src='/axios/axios.js'></script>
		<script src='/swal/sweetalert2.all.js'></script>
		<script src='/js/Toast.js'></script>
		<script src='/js/addRoommate.js'></script>
		<script src='/js/addGasto.js'></script>
		<script src='/js/updateGasto.js'></script>
		<script src='/js/deleteGasto.js'></script>
		<script src="/js/animacion.js"></script>
	</body>
</html>