<header>
    <div class="container">
        <nav>
            
        </nav>
        <section>
            <h1></h1>
            <form>
                <div>
                    <label for="">Nombre:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Email:</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Contraseña:</label>
                    <input type="text">
                </div>
                <button type="submit">Registrarse</button>
            </form>
        </section>
    </div>
</header>