<nav>
    <div class="container">
        <div class="box-content-nav">
            <div class="logo"></div>
        </div>
    </div>
</nav>
<header>
    <div class="container">
        <div class="row">
            <section class="box-form">
                <h1>Login</h1>
                <form id="formLogin">
                    <div class="box-colum">
                        <label for="loginEmail">Email</label>
                        <input type="text" id="loginEmail" placeholder="example@example.example">
                        <div class="results"></div>
                    </div>
                    <div class="box-colum">
                        <label for="loginContrasenia">Contraseña</label>
                        <input type="text" id="loginContrasenia" placeholder="contraseña">
                        <div class="results"></div>
                    </div>
                    <button type="submit">Registrarse</button>
                </form>
            </section>
            <section class="box-form">
                <h1>Registro</h1>
                <form id="formRegistro">
                    <div class="box-colum">
                        <label for="RegistroEmail">Email</label>
                        <input type="text" id="RegistroEmail" placeholder="example@example.example">
                        <div class="results"></div>
                    </div>
                    <div class="box-colum">
                        <label for="RegistroContrasenia">Contraseña</label>
                        <input type="text" id="RegistroContrasenia" placeholder="contraseña">
                        <div class="results"></div>
                    </div>
                    <button type="submit">Registrarse</button>
                </form>
            </section>
            <section class="box-table">
                <table>
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Contraseña</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>dsfsdfsdf</td>
                            <td>fsfdsfsdfdsfdsf</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

    </div>
</header>
<script type="module" src="/js/validaciones.js"></script>