<nav>
    <div class="container">
        <div class="box-content-nav">
            <div class="logo"></div>
            <ul>
                <li><a href="http://localhost:7000/login">Login</a></li>
                <li><a href="http://localhost:7000/registro">Registro</a></li>
            </ul>
        </div>
    </div>
</nav>
<header>
<div class="container">
    <img id="lobby-img" src="https://images.squarespace-cdn.com/content/v1/5ff48d62eedf0014eb2cff8f/1610640493119-BV8D31DLP4RVQ64L614S/LobbyLondonBROWNlogo.png" alt="img-lobby">
</div>
</header>
