<nav>
    <div class="container">
        <div class="box-content-nav">
            <div class="logo"></div>
            <ul>
                <li><a href="http://localhost:7000/login">Login</a></li>
                <li><a href="http://localhost:7000/registro">Registro</a></li>
            </ul>
        </div>
    </div>
</nav>
<header>
        <section class="box-form">
            <h1>Login</h1>
            <form id="formRegistro">
                <div class="box-colum">
                    <label for="email">Email</label>
                    <input type="text" id="email" placeholder="example@example.example">
                    <div class="results"></div>
                </div>
                <div class="box-colum">
                    <label for="contrasenia">Contraseña</label>
                    <input type="text" id="contrasenia" placeholder="contraseña">
                    <div class="results"></div>
                </div>
                <button type="submit">Registrarse</button>
            </form>
        </section>
</header>
<script type="module" src="/js/login.js"></script>